{% extends "base.html" %}
{% block content %}


<div class="jumbotron">
    <div class="row">
        <h1 class="text-center"> Powershame </h1>
    </div>
    <div class="row">
        <h2 class="text-center"> Work like someone's watching </h2>
    </div>

    <div class="row"><hr/></div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="text-left"><ol>
                    <li>Start session</li>
                    <li>Get stuff done - or don't</li>
                    <li>End session</li>
                    <li>Powershame makes a video of your session</li>
                    <li>...and shows it to your friends</li>
            </ol></div>
        </div>
        <div class ="col-md-3"></div>
    </div>

    <div class="row"><hr/></div>

    <p>
        <a class="btn btn-primary btn-lg" role="button" href="/signup">
            That sounds amazing! 
        </a>
        <a class="btn btn-danger btn-lg pull-right" role="button" href="/wait_what">
            Wait, what?
        </a>
    </p>
</div>

{% endblock %}
