{% extends "base.html" %}
{% block content %}


<div class="jumbotron">
    <div class="row">
        <h1 class="text-center"> Powershame </h1>
    </div>
    <div class="row">
        <h2 class="text-center"> Work like someone's watching </h2>
    </div>

    <div class="row"><hr/></div>

    <div class="row">
        <div class="col-md-12">
            You sit down. You're determined to get stuff done. Today's going to be the day... <br/>
            ...until it isn't. You just can't seem to do the things you know you know you want to do.
            A few minutes on Facebook, a Youtube video or two...and there goes your ambitious project.
            <p>
            Powershame keeps you on track using the oldest, most powerful motivational tool on the world:
            Pride. Knowing that your friends will see what you're doing <i>right now</i>, those cat GIFs look
            a lot less appealing.
            <p>
            It's also a great way to keep track of your own work. Send yourself your own Powershame sessions
            and at the end of the day you can bask in pride as all your hard work is played back to you.
            <p>
            I created Powershame to help myself get things done. It's been incredibly effective, and if you're
            anything like me, you should give it a try.
        </div>
    </div>

    <div class="row"><hr/></div>

    <p>
        <a class="btn btn-danger btn-lg pull-right" role="button" href="/signup">
            Okay, I'm convinced
        </a>
    </p>
</div>

{% endblock %}
