import os

# dev stuff
DEBUG = True
TESTING = True
LOG_LEVEL = os.environ.get('LOG_LEVEL', 'DEBUG')

#Secure forms
SECRET_KEY = 'Change this before going to production' #TODO: Doublecheck CSRF security

#DB connection
SQLALCHEMY_DATABASE_URI = 'mysql://user:password@server/db'

#AWS stuff
ISSUER_KEY=''
ISSUER_SECRET=''
UPLOADER_ROLE_ARN = ''
PIC_BUCKET = ''
RENDERER_KEY = ''
RENDERER_SECRET = ''
VID_BUCKET = ''

# messaging queue host
QUEUE_HOST = 'localhost'
