<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<div class="col-sm-1 col-md-3"></div>
<div class="col-sm-10 col-md-6">
    <h2>Sign In</h2>
    <form action="" method="post" name="login">
        <div class="form-group input-group-lg">
            {{form.hidden_tag()}}
             <label class="sr-only" for="email">email</label>
            {{form.email(size=80, class_="form-control", placeholder="Email", type="email")}}
        </div>
        <div class="form-group input-group-lg">
             <label class="sr-only" for="password">password</label>
            {{form.password(size=80, class_="form-control", placeholder="Password")}}
            <!--<input type="checkbox" value="Remember Me" class="input-group-addon">a--!>
        </div>
        <div class="form-group input-group-lg">
            <div class="checkbox"><label>
                {{form.remember_me(class_="checkbox", checked=True)}} <h4>Remember me</h4>
            </label></div>
        </div>
        <div class="form-group">
            <button type="submit" value="Sign In" class="btn btn-primary btn-lg pull-right">Log Me In</button>
        </div>
    </form>
</div>
<div class="col-sm-1 col-md-3"></div>

{% endblock %}
