{% extends "base.html" %}
{% block content %}

{% for shamer in user.shamers %}
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" placeholder="{{shamer.identifier}}">
    </div>
{% endfor %}
    <div class="input-group">
        <span class="input-group-addon">@</span>
        <!-- <form action="" method="post" name="shamer"> -->
            {{form.hidden_tag()}}
            <p>
                <input type="text" class="form-control" placeholder="Enter contact email">
                {{form.email_address(size=80)}}<br>
            </p>
        </form>
    </div>

{% endblock %}
